body {
  background-color: white;
  padding: 0px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color:#DF3C3C;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
  height: 100%;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.bgImage{
  background: url("./Image/banner.jpg");
  height: 500px;
  margin-top: -1.5%;
}
.bgProduct{
  background: url("./Image/CloudkartBanner.png");
  height: 450px;
  margin-top: -1.5%;
}
.bgAboutus{
  background: url("./Image/AboutUs.PNG");
  height: 450px;
  margin-top: -1.5%;
}
.RSHeader{
  font-size: 34px !important;
  text-align: center;
  font-family: Raleway !important;
  font-weight: 400 !important;
 
}
.RSHeading{
  text-align:center
}

.tve_sep{
  border-width: 1px;
  border-color: rgb(255, 139, 56);
  float: none;
  max-width: 80px;
  margin-left: auto !important;
  margin-right: auto !important;

}
.RSPara{
  text-align:center;
  font-weight: 400 !important;
    font-family: "Open Sans" !important;
    font-size: 20px !important;
    color: rgb(134, 135, 139) !important;
}



.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;


}

.grid > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(187, 163, 206, 1);
  background-color: #fff;
  padding: 5% 0;
   border-radius: 20px;
}


.grid .text {
  padding: 10px 20px 20px 30px;
  color: #808285;
  margin-bottom: 20px;  
}

.gridProduct {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 20px;
 
}

.gridProduct > article {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(187, 163, 206, 1);
  background-color: #fff;
  padding: 5% 0;
   border-radius: 4px;
}


.gridProduct .text {
  
  color: #808285;
  margin-bottom: 20px;  
}
.left-container {
  float: left;
 
  width: 50%;
  transform: translateX(8%);
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
 
  background: #fff;
  width: 50%;
  float: left;
}
.card-Left {
  width: 100%;
 
  
}
.imgsize1{
  max-width: 100%;
  padding: 1px;
}
.card-Right {
  max-width: 70%;
  
}
h3{ 
  color: #000;
  text-align: left;
}

.imgsize{
height: 70px;
}
.text{
  text-align: center;
}
.textProduct{
  text-align: center;
}
.textProduct:hover{
  color: red ;
}
.Ptag{
  font-family: 'HelveticaNeueLTStdLt' !important;
  font-size: 15px !important;
  color: #262e34;
  line-height: 20px;
  letter-spacing: 0.050em;
  font-weight: 10;
  margin-bottom: 0;
  font-size: 12px;
}
.PtagReadmore{
  color:red;
}
h4{
text-align: center;
  }
.leftinfo{
float: left;
  }
.aboutusinfo1{
text-align: left;
font-family: 'HelveticaNeueLTStdMd';
font-weight: 400;
font-size: 29px;
color: #262e34;
width: 56%;
padding-left: 2%;

  }
.aboutuspara1{
  width: 55%;
  padding-left: 2%;
  font-family: 'HelveticaNeueLTStdLt' !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  color: #262e34;
  line-height: 30px;
  letter-spacing: 0.050em;
  font-weight: 300;
  margin-bottom: 0;
  font-size: 16px;
  }
.aboutusinfo2{
text-align: left;
position: relative;
top: -252px;
left: 776px;
width: 28%;
color: #262e34;
line-height: 36px;
letter-spacing: 0.050em;
  }

  .dropbtn {
    background-color:transparent ;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    height: 100%;
    width:137%
  }
   
  .dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
  }
   
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#DF3C3C;
    min-width: 160px;
    
    
    z-index: 1;
    margin-left: 0%;
  }
   
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
   
  .dropdown-content a:hover {background-color: rgb(229, 17, 43);;}
   
  .dropdown:hover .dropdown-content {display: block;}
   
  .dropdown:hover .dropbtn {background-color: rgb(229, 17, 43);;}